@font-face {
  font-family: "Indie Flower";
  src: url(../src/assets/fonts/IndieFlower-Regular.ttf);
}

* {
  font-family: "Indie Flower", sans-serif;
}

.App {
  background-color: #ffefc9;
  height: 100vh;
}

.BackApp {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  left: 50%;
  transform: translate(-50%, 0);

  .bg {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    filter: blur(2px);
  }
}
